<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Meow App</title>
</head>
<!-- index.ejs homepage -->

<body>
    <h1>Welcome to the Cats app!</h1>
    <a class="cats-index-link" href="/cats">Purowse Cats</a>
    <img class="cat-pic1"
        src="https://www.wfla.com/wp-content/uploads/sites/71/2023/05/GettyImages-1389862392.jpg?w=2560&h=1440&crop=1"
        alt="adorable cat" />
    <p>An app for looking at cute cats.</p>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>

</html>